In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dash import Dash, html, dcc
import plotly.express as px

In [2]:
df2010 = pd.read_csv('dados_2010.csv', encoding='latin1', sep=';')
df2010

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)",Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,01/01/2010,"951,4","951,4","951,1","23,7","19,7","24,2","23,7","19,8","19,6",78,76,78,NaN,NaN,NaN,NaN,NaN
1,01/01/2010,"951,7","951,8","951,4",23,"20,2","23,7",23,"20,2","19,7",84,79,84,NaN,NaN,NaN,NaN,NaN
2,01/01/2010,"951,7","951,9","951,6","22,5","20,1",23,"22,5","20,4","20,1",87,84,86,NaN,NaN,NaN,NaN,NaN
3,01/01/2010,"951,4","951,8","951,4","22,4","20,1","22,6","22,4","20,1",20,87,86,87,NaN,NaN,NaN,NaN,NaN
4,01/01/2010,"950,7","951,4","950,7","22,6","20,1","22,6","22,3","20,2","20,1",87,86,86,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8744,31/12/2010,"946,8","946,8","946,5","28,3","15,3","29,2","28,3","15,9","15,1",46,44,45,NaN,NaN,NaN,NaN,NaN
8745,31/12/2010,"947,2","947,3","946,8","27,3","15,1","28,3","27,3","15,3",15,47,45,47,NaN,NaN,NaN,NaN,NaN
8746,31/12/2010,"947,8","947,8","947,2","25,9",16,"27,3","25,9",16,"15,1",54,47,54,NaN,NaN,NaN,NaN,NaN
8747,31/12/2010,"948,6","948,7","947,8","24,5","17,3","25,9","24,5","17,3",16,64,54,64,NaN,NaN,NaN,NaN,NaN
8748,31/12/2010,"949,4","949,4","948,6","23,5","18,2","24,5","23,4","18,2","17,3",72,64,72,NaN,NaN,NaN,NaN,NaN

In [3]:
df2010['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2010['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2010['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2010['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2010['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2010['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)

In [4]:
mean_df1 = df2010['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min1 = df2010['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco1 = df2010['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df1)

24.466544747971227

In [5]:
df2011 = pd.read_csv('dados_2011.csv', encoding='latin1', sep=';')
df2011

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)",Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,01/01/2011,"949,9",950,"949,4","22,6","19,1","23,5","22,6","19,2","18,1",81,72,81,NaN,NaN,NaN,NaN,NaN
1,01/01/2011,"950,1","950,1","949,7",22,"19,1","22,5",22,"19,2",19,84,81,84,NaN,NaN,NaN,NaN,NaN
2,01/01/2011,"949,9","950,3","949,9","21,8","19,2",22,"21,8","19,3","19,1",86,84,86,NaN,NaN,NaN,NaN,NaN
3,01/01/2011,"949,2",950,"949,2","21,5","19,4","21,8","21,5","19,4","19,2",88,85,88,NaN,NaN,NaN,NaN,NaN
4,01/01/2011,"948,6","949,2","948,6","21,4","19,4","21,6","21,3","19,4","19,3",89,88,89,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6685,31/12/2011,"949,5","949,6","949,2","28,9","16,3","31,1","28,6","16,6","15,1",47,39,46,NaN,NaN,NaN,NaN,NaN
6686,31/12/2011,950,950,"949,5","27,8","17,2","28,9","27,8","17,2","16,2",52,46,52,NaN,NaN,NaN,NaN,NaN
6687,31/12/2011,"950,3","950,4",950,"25,8",18,"27,9","25,8",18,"17,1",62,52,62,NaN,NaN,NaN,NaN,NaN
6688,31/12/2011,"950,9","950,9","950,3","24,3","19,3","25,8","24,3","19,3",18,73,62,73,NaN,NaN,NaN,NaN,NaN
6689,31/12/2011,"951,5","951,5","950,8","23,3","19,5","24,3","23,3","19,5","19,2",79,73,79,NaN,NaN,NaN,NaN,NaN

In [6]:
df2011['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2011['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2011['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2011['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2011['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2011['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)

In [7]:
mean_df2 = df2011['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min2 = df2011['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco2 = df2011['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df2)

24.069985052316927

In [8]:
df2012 = pd.read_csv('dados_2012.csv', encoding='latin1', sep=';')
df2012

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2012,"951,9","951,9","951,5","22,7","19,9","23,3","22,7",20,"19,4",84,79,84
1,01/01/2012,"951,8",952,"951,8",22,"19,9","22,7",22,20,"19,8",88,84,88
2,01/01/2012,"951,7","951,8","951,7","21,8","20,1",22,"21,8","20,1","19,9",90,88,90
3,01/01/2012,"951,1","951,7","951,1","21,6","19,8","21,9","21,6","20,1","19,8",90,89,89
4,01/01/2012,951,"951,2","950,9","21,5","19,8","21,6","21,4","19,8","19,6",90,89,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8776,31/12/2012,"949,5","949,5","949,1","28,8","17,8","31,1","28,8",18,"15,6",51,40,51
8777,31/12/2012,"949,7","949,7","949,5","27,1","18,4","28,9","27,1","18,6","17,9",59,51,59
8778,31/12/2012,"950,2","950,2","949,7",26,"18,3","27,2",26,"18,5","18,2",62,59,62
8779,31/12/2012,"950,9","950,9","950,2",25,"18,7",26,25,"18,8","18,3",68,62,68
8780,31/12/2012,"951,5","951,5","950,9","24,1","18,8",25,"24,1",19,"18,7",72,68,72

In [9]:
df2012['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2012['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2012['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2012['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2012['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2012['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df3 = df2012['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min3 = df2012['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco3 = df2012['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df3)

23.93082792392667

In [10]:
df2013 = pd.read_csv('dados_2013.csv', encoding='latin1', sep=';')
df2013

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2013,"951,9","951,9","951,5","23,3","19,1",24,"23,2","19,1","18,8",77,72,77
1,01/01/2013,"952,2","952,2","951,9","22,7","18,9","23,3","22,7","19,2","18,8",79,77,79
2,01/01/2013,"951,8","952,2","951,8","21,9","19,2","22,7","21,8","19,2","18,8",85,79,85
3,01/01/2013,"951,4","951,9","951,4","21,7","19,3","21,9","21,7","19,3","19,1",86,85,86
4,01/01/2013,"951,1","951,4","951,1","21,5","19,2","21,7","21,5","19,3","19,1",87,86,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7130,31/12/2013,"949,7","949,8","949,4","28,9","14,9","29,8","28,1","15,9","14,7",46,42,42
7131,31/12/2013,"950,2","950,2","949,7","26,7","15,8","28,9","26,7",16,"14,5",51,42,51
7132,31/12/2013,"950,7","950,7","950,2","25,1",17,"26,8","25,1",17,"15,8",61,51,61
7133,31/12/2013,"951,5","951,5","950,7","23,9","17,7","25,1","23,9","17,7",17,68,61,68
7134,31/12/2013,952,952,"951,5","22,8","18,4","23,9","22,8","18,4","17,6",76,68,76

In [11]:
df2013['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2013['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2013['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2013['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2013['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2013['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df4 = df2013['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min4 = df2013['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco4 = df2013['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df4)

24.633104414856323

In [12]:
df2014 = pd.read_csv('dados_2014.csv', encoding='latin1', sep=';')
df2014

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2014,"952,5","952,5",952,"22,4",19,"22,9","22,2","19,1","18,4",82,76,81
1,01/01/2014,"952,5","952,6","952,4","22,1","19,7","22,4","22,1","19,7",19,86,81,86
2,01/01/2014,"952,1","952,5","952,1",22,20,"22,2",22,20,"19,6",88,86,88
3,01/01/2014,"951,2","952,1","951,2","21,7",20,"22,1","21,7","20,1","19,9",90,88,90
4,01/01/2014,"950,7","951,2","950,6","21,7","20,2","21,8","21,6","20,3",20,92,90,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2014,"951,3","951,4","950,8","27,9","16,7","29,6","27,9","16,8","15,1",51,42,51
8756,31/12/2014,"951,7","951,7","951,2","26,8","15,8","27,8","26,8","16,8","15,8",52,50,51
8757,31/12/2014,"952,3","952,3","951,7",25,"18,3","26,8",25,"18,3","15,5",66,50,66
8758,31/12/2014,"953,1","953,1","952,3","23,9",19,25,"23,9",19,"18,4",74,66,74
8759,31/12/2014,"953,8","953,8","953,1","23,3","19,7",24,"23,3","19,7","19,1",80,74,80

In [13]:
df2014['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2014['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2014['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2014['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2014['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2014['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df5 = df2014['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min5 = df2014['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco5 = df2014['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df5)

23.975194063927006

In [14]:
df2015 = pd.read_csv('dados_2015.csv', encoding='latin1', sep=';')
df2015

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2015,"954,2","954,3","953,8","22,6",20,"23,3","22,6",20,"19,5",85,80,85
1,01/01/2015,"954,2","954,3","954,1","22,5",20,"22,6","22,3","20,1","19,8",86,85,86
2,01/01/2015,"953,4","954,2","953,4","22,1","19,9","22,5","22,1","20,1","19,9",88,86,88
3,01/01/2015,"952,7","953,4","952,7","21,9","19,9","22,1","21,9","20,2","19,8",89,88,88
4,01/01/2015,"952,2","952,7","952,1","21,7","19,9",22,"21,7",20,"19,8",90,88,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2015,"950,4","950,6","950,2",27,"18,8","29,3",27,"18,9","17,9",61,51,61
8756,31/12/2015,"950,8","950,8","950,4","25,9","18,8","27,1","25,8","18,9","18,6",65,60,65
8757,31/12/2015,"951,5","951,5","950,8","24,6","18,5","25,8","24,6","18,9","18,4",69,65,69
8758,31/12/2015,952,952,"951,5","23,8",18,"24,7","23,8","18,5","17,8",70,68,70
8759,31/12/2015,"952,8","952,8",952,23,"18,8","23,8","22,9","18,8","18,1",77,70,77

In [15]:
df2015['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2015['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2015['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2015['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2015['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2015['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df6 = df2015['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min6 = df2015['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco6 = df2015['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df6)

24.3219063926942

In [16]:
df2016 = pd.read_csv('dados_2016.csv', encoding='latin1', sep=';')
df2016

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)",Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,01/01/2016,"953,2","953,2","952,8","22,5","19,7",23,"22,5","19,7","18,8",84,77,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2016,"953,2","953,3","953,1","22,2","20,1","22,6","22,2","20,3","19,8",88,84,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2016,"952,2","953,2","952,2","21,8","19,8","22,2","21,8","20,1","19,8",89,88,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2016,"951,7","952,2","951,7","21,6","19,9","21,9","21,6","20,1","19,7",90,88,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2016,"951,2","951,7","951,1","21,5","19,9","21,6","21,3",20,"19,7",91,90,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260,31/12/2016,"950,2","950,3","950,1",28,"17,7","29,3",28,18,"16,8",54,49,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8261,31/12/2016,"950,4","950,4","950,2","27,3","18,3","28,5","27,3","18,3","17,2",58,51,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8262,31/12/2016,951,951,"950,4","25,5","18,9","27,3","25,5","18,9","18,3",67,58,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8263,31/12/2016,"951,6","951,6","950,9","24,4","18,9","25,5","24,4",19,"18,8",72,67,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8264,31/12/2016,"952,4","952,4","951,6","23,5","19,1","24,4","23,5","19,1","18,7",77,72,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df2016['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2016['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2016['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2016['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2016['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2016['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df7 = df2016['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min7 = df2016['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco7 = df2016['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df7)

24.50197217180883

In [18]:
df2017 = pd.read_csv('dados_2017.csv', encoding='latin1', sep=';')
df2017

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2017,953,"953,1","952,4","22,7","19,6","23,5","22,7","19,7","19,2",83,77,83
1,01/01/2017,"953,2","953,2",953,"22,3","19,4","22,7","22,3","19,5","19,3",84,83,84
2,01/01/2017,"952,7","953,2","952,7","22,1","19,7","22,4","22,1","19,7","19,4",86,84,86
3,01/01/2017,"952,1","952,7","952,1","21,9","19,8","22,1","21,9","19,8","19,6",88,86,88
4,01/01/2017,"951,5","952,1","951,5","21,7","19,7","21,9","21,7","19,9","19,6",88,88,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8744,31/12/2017,"950,1","950,2","949,9","30,5","16,9",32,"30,5","17,1","15,7",44,38,44
8745,31/12/2017,"950,5","950,5","950,1","29,4","17,5","30,9","29,4","17,6","16,8",49,44,49
8746,31/12/2017,"951,2","951,2","950,5","27,7","18,1","29,4","27,7","18,1","17,5",56,49,56
8747,31/12/2017,"951,9","951,9","951,2","25,8","18,9","27,7","25,8",19,"18,1",66,56,66
8748,31/12/2017,"952,5","952,5","951,9","24,5","19,3","25,8","24,5","19,3","18,9",73,66,73

In [19]:
df2017['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2017['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2017['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2017['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2017['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2017['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df8 = df2017['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min8 = df2017['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco8 = df2017['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df8)

24.17175677220251

In [20]:
df2018 = pd.read_csv('dados_2018.csv', encoding='latin1', sep=';')
df2018

,DATA (YYYY-MM-DD),"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2018,953,953,"952,5","23,5","20,1","24,5","23,4","20,1","19,3",81,73,81
1,01/01/2018,953,953,"952,8","22,6",20,"23,5","22,6","20,3",20,86,81,85
2,01/01/2018,953,953,953,"22,3","20,1","22,6","22,3","20,2",20,88,85,87
3,01/01/2018,"952,5",953,"952,5","22,2","20,5","22,3","22,1","20,5","20,1",90,87,90
4,01/01/2018,952,"952,5",952,22,"20,6","22,3",22,"20,7","20,5",91,90,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,31/12/2018,"949,5","949,5","949,1","31,1",17,"32,2","30,6",17,"15,6",43,37,43
8755,31/12/2018,950,950,"949,4",29,"17,8","31,1",29,"17,8","16,4",51,42,51
8756,31/12/2018,"950,6","950,7",950,"27,1","18,9",29,"27,1","18,9","17,7",61,51,61
8757,31/12/2018,"951,7","951,7","950,6","25,7","19,5","27,1","25,7","19,5",19,68,61,68
8758,31/12/2018,"952,4","952,4","951,7","24,3","19,6","25,7","24,3","19,6","19,4",75,68,75

In [21]:
df2018['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2018['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2018['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2018['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2018['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2018['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df9 = df2018['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min9 = df2018['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco9 = df2018['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df9)

24.168774974312246

In [22]:
df2019 = pd.read_csv('dados_2019.csv', encoding='latin1', sep=';')
df2019

,Data,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2019,"952,4","952,5","952,4","23,2","20,1","24,3","23,2","20,1","19,6",83.0,75.0,83.0
1,01/01/2019,"952,7","952,7","952,3","22,9","20,5","23,2","22,8","20,5","20,1",87.0,83.0,87.0
2,01/01/2019,"952,6","952,7","952,5","22,5","20,6","22,9","22,5","20,7","20,4",89.0,87.0,89.0
3,01/01/2019,952,"952,6",952,"22,3","20,5","22,5","22,3","20,7","20,5",90.0,89.0,90.0
4,01/01/2019,"951,4",952,"951,4","22,1","20,6","22,3",22,"20,7","20,5",91.0,90.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6439,31/12/2019,"947,9","948,1","947,7","27,6","20,2","28,8","27,6","20,6","19,9",64.0,60.0,64.0
6440,31/12/2019,"948,6","948,6","947,9","26,6","20,2","27,9","26,5","20,7",20,68.0,64.0,68.0
6441,31/12/2019,"949,3","949,3","948,6","25,2","20,5","26,6","25,2","20,6","20,1",76.0,68.0,76.0
6442,31/12/2019,"950,3","950,3","949,3","24,4","21,2","25,2","24,2","21,2","20,5",82.0,76.0,82.0
6443,31/12/2019,951,"951,1","950,3","23,8","21,3","24,4","23,8","21,3",21,86.0,82.0,86.0

In [23]:
df2019['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2019['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2019['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2019['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2019['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2019['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df10 = df2019['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min10 = df2019['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco10 = df2019['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df10)

24.6907806922241

In [24]:
df2020 = pd.read_csv('dados_2020.csv', encoding='latin1', sep=';')
df2020

,Data,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2020,"951,5","951,5",951,"23,1","21,1","23,8","23,1","21,4","21,1",88.0,86.0,88.0
1,01/01/2020,"952,3","952,4","951,5","22,8","21,1","23,3","22,7","21,3",21,91.0,88.0,90.0
2,01/01/2020,952,"952,4",952,"22,6","21,2","22,9","22,6","21,3","20,9",92.0,90.0,92.0
3,01/01/2020,"951,6",952,"951,6","22,7","21,2","22,7","22,6","21,3","21,1",92.0,91.0,91.0
4,01/01/2020,"950,9","951,6","950,9","22,3",21,"22,7","22,3","21,1","20,9",92.0,91.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,31/12/2020,"950,2","950,2","949,8","27,8","20,6","30,7","27,8","21,6","20,3",65.0,57.0,65.0
8780,31/12/2020,"950,8","950,8","950,2","26,3","20,6","27,8","26,3","20,8","20,4",71.0,65.0,71.0
8781,31/12/2020,"951,4","951,4","950,7",25,"20,4","26,3",25,"20,8","20,4",76.0,71.0,76.0
8782,31/12/2020,952,952,"951,4","24,2","20,8",25,"24,2","20,9","20,4",81.0,76.0,81.0
8783,31/12/2020,"952,5","952,5",952,"23,3","20,8","24,3","23,3","20,9","20,6",86.0,81.0,86.0

In [25]:
df2020['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2020['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2020['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2020['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2020['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2020['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df11 = df2020['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min11 = df2020['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco11 = df2020['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df11)

24.61211534077945

In [26]:
df2021 = pd.read_csv('dados_2021.csv', encoding='latin1', sep=';')
df2021

,Data,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)"
0,01/01/2021,"953,1","953,1","952,5","22,1",21,"23,4","22,1","21,3","20,8",94.0,86.0,93.0
1,01/01/2021,"952,9","953,1","952,9","21,7",21,"22,2","21,6","21,2","20,9",96.0,93.0,96.0
2,01/01/2021,"952,6","952,9","952,6","21,9","21,1",22,"21,7","21,2",21,96.0,95.0,95.0
3,01/01/2021,"952,2","952,7","952,1","21,9",21,22,"21,8","21,1","20,9",95.0,94.0,95.0
4,01/01/2021,952,"952,2","951,9","21,3","20,8","21,9","21,3",21,"20,7",97.0,95.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2021,"947,7","947,7","947,3","28,6","19,5","30,4","28,5",20,"19,2",58.0,51.0,58.0
8756,31/12/2021,"948,2","948,3","947,7","27,1","19,8","28,9","27,1",20,"19,2",65.0,57.0,65.0
8757,31/12/2021,"949,1","949,1","948,2","25,9","19,9","27,1","25,9","20,2","19,8",70.0,65.0,70.0
8758,31/12/2021,"950,1","950,1","949,1","24,7","20,7","25,9","24,7","20,8","19,9",79.0,70.0,79.0
8759,31/12/2021,"951,3","951,3","950,1","24,1","20,8","24,7",24,21,"20,7",82.0,79.0,82.0

In [27]:
df2021['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'] = df2021['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2021['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'] = df2021['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.').astype(float)
df2021['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df2021['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].str.replace(',','.').astype(float)
mean_df12 = df2021['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_min12 = df2021['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].mean()
mean_seco12 = df2021['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].mean()
print(mean_df12)

24.619189497716835

In [28]:
max = {
    'Ano': ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
    'Média max': [round(mean_df1, 2), round(mean_df2, 2), round(mean_df3, 2),round(mean_df4, 2),
                  round(mean_df5, 2), round(mean_df6, 2), round(mean_df7, 2), round(mean_df8, 2),
                  round(mean_df9, 2), round(mean_df10, 2), round(mean_df11, 2), round(mean_df12, 2)]
}

# Criando um dataframe a partir de um dicionário do python
df = pd.DataFrame(max)

# mostrando o dataframe
df

     Ano  Média max
0   2010      24.47
1   2011      24.07
2   2012      23.93
3   2013      24.63
4   2014      23.98
5   2015      24.32
6   2016      24.50
7   2017      24.17
8   2018      24.17
9   2019      24.69
10  2020      24.61
11  2021      24.62

In [29]:
min = {
    'Ano': ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
    'Média min': [round(mean_min1, 2), round(mean_min2, 2), round(mean_min3, 2),round(mean_min4, 2),
                  round(mean_min5, 2), round(mean_min6, 2), round(mean_min7, 2), round(mean_min8, 2),
                  round(mean_min9, 2), round(mean_min10, 2), round(mean_min11, 2), round(mean_min12, 2)]
}

# Criando um dataframe a partir de um dicionário do python
df2 = pd.DataFrame(min)

# mostrando o dataframe
df2

     Ano  Média min
0   2010      23.40
1   2011      23.01
2   2012      22.82
3   2013      23.52
4   2014      22.92
5   2015      23.26
6   2016      23.43
7   2017      23.15
8   2018      23.12
9   2019      23.64
10  2020      23.54
11  2021      23.54

In [30]:
seco = {
    'Ano': ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
    'Média b. seco': [round(mean_seco1, 2), round(mean_seco2, 2), round(mean_seco3, 2),round(mean_seco4, 2),
                  round(mean_seco5, 2), round(mean_seco6, 2), round(mean_seco7, 2), round(mean_seco8, 2),
                  round(mean_seco9, 2), round(mean_seco10, 2), round(mean_seco11, 2), round(mean_seco12, 2)]
}

# Criando um dataframe a partir de um dicionário do python
df3 = pd.DataFrame(seco)

# mostrando o dataframe
df3

     Ano  Média b. seco
0   2010          23.90
1   2011          23.52
2   2012          23.35
3   2013          24.05
4   2014          23.42
5   2015          23.76
6   2016          23.94
7   2017          23.63
8   2018          23.61
9   2019          24.14
10  2020          24.05
11  2021          24.05

In [31]:
dfconcatenado = pd.merge(df, df2, how = 'inner', on = 'Ano')
dfconcatenado

     Ano  Média max  Média min
0   2010      24.47      23.40
1   2011      24.07      23.01
2   2012      23.93      22.82
3   2013      24.63      23.52
4   2014      23.98      22.92
5   2015      24.32      23.26
6   2016      24.50      23.43
7   2017      24.17      23.15
8   2018      24.17      23.12
9   2019      24.69      23.64
10  2020      24.61      23.54
11  2021      24.62      23.54

In [ ]:
app = Dash(__name__)

# assume you have a "long-form" data frame
# see https://plotly.com/python/px-arguments/ for more options
plotly = df
plotly2 = df2
plotly3 = df3

fig = px.bar(plotly, x="Ano", y="Média max", color="Ano")
fig2 = px.bar(plotly2, x="Ano", y="Média min", color="Ano")
fig3 = px.bar(plotly3, x="Ano", y="Média b. seco", color="Ano")
#histogram

app.layout = html.Div(children=[
    html.H1(children='Temperatura Campina Grande'),

    html.Div(children='''
        Gráficos de médias de temperatura na cidade de Campina Grande entre os anos de 2010 a 2021.
    '''),

    dcc.Graph(
        id='Gráfico de média máxima',
        figure=fig
    ),
    dcc.Graph(
        id='Gráfico de média mínima',
        figure=fig2
    ),
    dcc.Graph(
        id='Gráfico de média no bulbo seco (desconsiderando a umidade)',
        figure=fig3
    )
])

if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Aug/2022 15:21:39] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 15:21:39] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 15:21:39] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 15:21:39] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 15:21:39] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -